<footer class="container-fluid fixed-bottom bg-dark p-4">
  <div class="row">
    <div class="d-flex justify-content-center col list-group-horizontal">
      <a
        class="text-light m-2"
        [title]="socialMedia.name"
        [href]="socialMedia.url"
        target="_blank"
        *ngFor="let socialMedia of socialLinks"
        ><img [src]="socialMedia.svg"
      /></a>
    </div>
    <p class="col-12 font-weight-bold text-light text-center">
      &copy; Daury Pérez
    </p>
  </div>
</footer>
